<h3 class="pedal-header">{{pedal.name}}</h3>
<button class='btn btn-primary btn-sm' {{action 'editPedal'}}>Edit</button>
<button class='btn btn-default btn-sm btn-danger' {{action 'deletePedal'}}>Delete</button>
<br><br>
<div class='pedal-stats'>
  Length: {{pedal.length}} Inches<br>
  Width: {{pedal.width}} Inches<br>
</div>
<img class='pedal-image' src="{{pedal.link}}" alt="Pedal Image"><br><br>

<a href="{{pedal.info}}">Product Page</a><br>
<hr>

{{#each board as |board|}}
  <li><a href="#">{{board.name}}</a></li>
{{/each}}

<button class="add-pedal-to-board" {{action "attach"}}>Add to Board</button>
{{#each board as |board|}}
  {{board-card}}
{{/each}}

{{!-- <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Add pedal to board
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {{#each board as |board|}}
      <li><a href="#" {{action 'attach'}}>{{board.name}}</a></li>
    {{/each}}
  </ul>
</div> --}}

<hr>
{{#link-to 'pedals'}}
  Back to Pedal List
{{/link-to}}
