<h3 class="board-header">{{board.name}}</h3>

Length: {{board.length}} <br>
Width: {{board.width}} <br>
Pedals: {{board.pedals}}

{{#each board.pedals as |pedal|}}
  {{board-details/item item=item
                    toggleDone='toggleItemDone'
                    delete='deleteItem'}}
{{/each}}

<hr>
{{#link-to 'boards'}}
  Back
{{/link-to}}
