<h3 class="board-header">{{board.name}}</h3>

<button class='btn btn-primary btn-sm' {{action 'editBoard'}}>Edit</button>
<button class='btn btn-default btn-sm btn-danger' {{action 'deleteBoard'}}>Delete</button><br><br>

Length: {{board.length}} Inches<br>
Width: {{board.width}} Inches <br><br>
Pedals: {{board.pedals}}

{{!-- <div class="board-image" length="{{board.length}}" width="{{board.width}}">Board</div> --}}

{{#each board.pedals as |pedal|}}
  {{board-details/item item=item
                    toggleDone='toggleItemDone'
                    delete='deleteItem'}}
{{/each}}
<br>
  {{#link-to 'pedals'}}
    <button class='btn btn-sm'>
      Add a Pedal to your Board
    </button>
  {{/link-to}}

<hr>
{{#link-to 'boards'}}
  Back to your boards
{{/link-to}}
