<h3 class="board-header">{{board.name}}</h3>

Length: {{board.length}} Inches<br>
Width: {{board.width}} Inches <br>
Pedals: {{board.pedals}}

{{#each board.pedals as |pedal|}}
  {{board-details/item item=item
                    toggleDone='toggleItemDone'
                    delete='deleteItem'}}
{{/each}}
<br>
  {{#link-to 'pedals'}}
    <button class='btn btn-sm'>
      Add a Pedal to your Board
    </button>
  {{/link-to}}

<hr>
{{#link-to 'boards'}}
  Back to your boards
{{/link-to}}
