<form {{action 'save' on='submit'}}>
  {{input placeholder='Board Title'
          value=board.name}}
  {{input placeholder='Board Length'
          value=board.length}}
  {{input placeholder='Board Width'
          value=board.width}}
  <button type='submit' class='btn btn-xs'>Save</button>
  <button {{action 'cancel'}} class='btn btn-xs btn-danger'>Cancel</button>
</form>
